@import "~./constants.scss";

.about{
  padding-top: 75px;
}

.about-title{
  color: $darkBlue;
  font-size: 3rem;
  text-align: center;
  padding: 20px 0px;
}

.intro {
  color: $darkBlue;
  font-size: 1.5rem;
  text-align: center;
  line-height: 40px;
}

.rules-section{
  border-top:4px solid $darkBlue;
  padding: 20px 10px;
}

.rules-title{
  color: $darkBlue;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}

.rule{
  color: $darkBlue;
  font-size: 1.5rem;
  line-height: 40px;
}

@media(min-width: 700px){
  .about{
    width: 650px;
    margin: auto;
  }
}

@media(min-width: 900px){
  .about{
    width: 850px;
    margin: auto;
  }
}