@import '~./constants.scss';

.media {
  border-bottom: 1px solid $darkBlue;
  display: flex;
  font-family: $mainFont;
  margin: 20px;
  padding: 30px 0px;
  text-align: center;
}

.media:last-child {
  border-bottom: none;
}

.media-image-section {
  width: 100px;
}

.media-image {
  width: inherit;
}

.media-info {
  padding-left: 20px;
  text-align: left;
}

.media-title {
  color: $darkBlue;
  display: inline-block;
}

.media-icon {
  color: $darkBlue;
  font-size: 1.2rem;
  padding-left: 5px;

  @media (max-width: 600px) {
    display: none;
  }
}

.media-subcontent {
  color: $darkBlue;
}

.media-button {
  border-radius: 10px;
  display: inline-block;
  font-size: 0.7rem;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 115px;
}

.media-author {
  color: $darkBlue;
  padding-top: 5px;
}

.unavailable {
  color: red;
}

.available {
  color: green;
}

.edit-media-button {
  background: none;
  border: none;
  color: $darkBlue;
  margin-left: 5px;
}

@media (min-width: 700px) {
  .media {
    padding: 30px;
  }

  .media-image-section {
    width: 175px;
  }

  .media-subcontent {
    margin-top: 40px;
  }

  .media-button {
    font-size: 1rem;
    margin-top: 50px;
    width: 160px;
  }
}

.media-form-buttons {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.media-form-buttons button {
  margin: 0 15px;
}
