@import "~./constants.scss";

.dashboard{
  margin-top: 55px;
  background: $beige;
}

.page-title{
  color: $darkBlue;
  font-size: 3rem;
  text-align: center;
}

.nothing-here{
  color: $darkBlue;
  font-size: 2rem;
  padding-top: 50px;
  text-align: center;
}

@media(min-width: 900px){
  .dashboard{
    margin-left: 250px;
  }
}