@import "~./constants.scss";

.dashboard{
  background: $beige;
}

.page-title{
  color: $darkBlue;
  font-size: 3rem;
  text-align: center;
}

.nothing-here{
  color: $darkBlue;
  font-size: 2rem;
  padding-top: 50px;
  text-align: center;
}

.filter-options{
  margin:20px auto;
  width: 300px;
}

.search{
  border:1px solid $darkBlue;
  color: $darkBlue;
  font-size: 16px;
  height:30px;
  padding-left: 10px;
  width:200px;
}

.search::placeholder{
  font-style: italic;
  font-size: 16px;
}

.select-media{
  border:1px solid $darkBlue;
  font-size: 16px;
  margin-left: 6px;
  height:30px;
}

.user-directory{
  margin: 20px auto;
  width: 300px;
  text-align: center;
}

.user-card{
  border: 3px solid $darkBlue;
  color: $darkBlue;
  margin: 30px auto;
  padding: 10px;
}

.user-card h4{
  padding-top: 8px;
}

.user-directory .search{
  width: 300px;
}

.total-balance{
  text-align: center;
}

@media(min-width: 900px){
  .dashboard{
    margin-left: 250px;
  }
}