@import "~./constants.scss";

.dashboard{
  margin-top: 55px;
  background: $beige;
}

.page-title{
  color: $darkBlue;
  font-size: 3rem;
  text-align: center;
}

.nothing-here{
  color: $darkBlue;
  font-size: 2rem;
  padding-top: 50px;
  text-align: center;
}

.filter-options{
  margin:20px auto;
  width: 300px;
}

.search-media{
  border:1px solid $darkBlue;
  color: $darkBlue;
  font-size: 16px;
  height:30px;
  padding-left: 10px;
  width:200px;
}

.search-media::placeholder{
  font-style: italic;
  font-size: 16px;
}

.select-media{
  border:1px solid $darkBlue;
  font-size: 16px;
  margin-left: 6px;
  height:30px;
}

@media(min-width: 900px){
  .dashboard{
    margin-left: 250px;
  }
}