@import '~./constants.scss';

.navbar {
  background: $darkBlue;
  border-bottom: 5px solid $beige;
  color: $beige;
  height: 90px;
  position: fixed;
  width: 100%;
}

.navbar a {
  color: $beige;
  display: block;
  font-size: 1.8rem;
  padding: 0px 0px 0px 80px;
  text-decoration: none;

  @media (min-width: 900px) {
    font-size: 2.5rem;
    padding: 8px 0px 0px 20px;
  }
}

.home-navbar .navbar a {
  margin: auto;
  padding: 0;
}

.navbar .fa-book-open {
  display: none;
  margin-left: 15px;

  @media (min-width: 900px) {
    display: inline-block;
  }
}
