@import "~./constants.scss";

.navbar{
  background: $darkBlue;
  border-bottom: 5px solid $beige;
  color: $beige;
  height: 72px;
  position: fixed;
  width: 100%;
}

.navbar a {
  color: $beige;
  display: block;
  font-size: 2.5rem;
  padding: 8px 0px 0px 70px;
  text-decoration: none;
}

.navbar .fa-book-open {
  margin-left: 15px;
}