@import '~./constants.scss';

.onboarding-form {
  background: $darkBlue;
  border-radius: 20px;
  color: $beige;
  height: fit-content;
  margin: 30px auto;
  padding: 10px;
  width: 100%;

  @media (min-width: 500px) {
    width: 400px;
  }
}

.onboarding-form input {
  background: $beige;
  font-size: 16px;
  padding: 5px;
}

.field {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@media (max-width: 350px) {
  .field,
  label {
    display: block;
  }
}

.onboarding-form-title {
  text-align: center;
  padding: 10px 0px;
}

.field label {
  font-size: 18px;
}

.onboarding-form-subtitle {
  font-size: 1rem;
  text-align: center;
}

.onboarding-form-button {
  background: $beige;
  border-radius: 10px;
  display: block;
  font-size: 1rem;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 162px;
}

.onboarding-error {
  padding: 3px;
  color: red;
  background: $beige;
  text-align: center;
  font-size: 1rem;
}

a.login-trouble {
  color: $beige;
  display: block;
  text-align: center;

  a.login-trouble:hover,
  a.login-trouble:focus {
    color: $beige;
  }
}

.sign-up-anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}

a.sign-up-link {
  text-align: center;
  display: block;
  color: #efe5d8;
}
