@import "~./constants.scss";

.onboarding-form {
  background: $darkBlue;
  color: $beige;
  height: fit-content;
  margin: 30px auto;
  padding: 10px;
  width: 100%;

  @media (min-width: 500px) {
    width: 400px;
  }
}

.onboarding-form input {
  background: $beige;
  font-size: 16px;
  padding: 5px;
}

.field {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@media (max-width: 350px) {
  .field,
  label {
    display: block;
  }
}

.onboarding-form-title {
  text-align: center;
  padding: 10px 0px;
}

.field label {
  font-size: 18px;
}

.onboarding-form-button {
  background: $beige;
  border-radius: 10px;
  display: block;
  font-size: 1.2rem;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 180px;
}

.onboarding-error {
  padding: 3px;
  color: red;
  background: $beige;
  text-align: center;
}
