@import "~./constants.scss";

.action-button-skin{
  background: $darkBlue;
  border: 1px solid $darkBlue;
  color: $beige;
  cursor: pointer;
  display: block;
  font-family: $mainFont;
  transition: .5s;
}

.sidebar-button {
  font-size: 1.2rem;
  margin: 5px 5px;
  padding: 20px 15px;
  text-align: left;
  width: -webkit-fill-available;

  @media(min-width: 600px) {
    font-size: 1.5rem;
  }
}

.action-button-skin:hover, .action-button-skin:focus{
  background: $beige;
  color: $darkBlue;
  outline: 0;
}

.open-sidebar{
  background: $darkBlue;
  border: 1px solid $beige;
  color: $beige;
  cursor: pointer;
  font-size: 25px;
  margin: 9px 0px 0px 0px;
  top: 13px;
  left: 10px;
  outline: 0;
  position: fixed;
  z-index: 1000;
}

.open-sidebar:hover, .open-sidebar:focus{
  background: $beige;
  color: $darkBlue;
}